@import '@mantine/core/styles.css';
@import './header.css';
@import './hud.css';

.font-s {
    font-size: 0.8rem;
}

.font-m {
    font-size: 1rem;
}

.font-l {
    font-size: 1.25rem;
}

.font-xl {
    font-size: 2.25rem;
}

.font-xxl {
    font-size: 7.5rem;
}

.font-xxxl {
    font-size: 10rem;
}

a {
    text-decoration: none;
    color: green;
}